 i {
   color:black;
 }

 embed {
   width:100%;
   height: 45vh;
 }
 .center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.column i {
  color:white;
}

.edu-block {
  height: 50vh;
  overflow-y:auto;
}
.sectionBar{
  padding:30px;
}

.pdl-10{
  padding-left:10px;
}
.pdr-10{
  padding-right:10px;
}

.social {
  float:right;
}

.mt-5{
  margin-top:50px;
}

.parallax {
  background-image: url("ostroda.jpg");
  height: 94vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 
.portrait {
  margin-top:5vh;
  height: 30vh;
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
.parallax1 {
  background-image: url("ostroda.jpg");
  height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 


.iconWhite:hover i {
  color:white
}
body {
  margin: 0;
  font-size: 28px;
}

.header {
  background-color: white;
  padding: 10px;
  text-align: center;
}

#navbar {
  overflow: hidden;
  background-color:white;
  border-top:3px solid black;
  border-bottom:3px solid black;
  box-shadow: 0px 6px 10px black;
  transition: 0.3s;
}

#navbar a {
  float: left;
  font-size: 16px;
  padding: 10px;  
  display: block;
  color: black;
  text-align: center;
  transition: 0.3s;
}

#navbar a:hover {
  background-color:black;
  color: white;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.bg-solid{
  background-color:white;
  z-index:10;
}

.sticky + .content {
  padding-top: 60px;
}

#techsChart{
  width:500px;
}



